@font-face {
    font-family: '8bit';
    src: url(../fonts/8-bit-hud.ttf);
}

.settingshead {
    right: 0;
    top: 0;
    position: absolute;
    padding-top: 10px;
    padding-right: 10px;
    font-family: '8bit', Arial, Helvetica, sans-serif;
}
button.settings{
    padding: 10px;
    font-family: '8bit', Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #aaa;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
}
button:hover.settings{
    background-color: #ddd;
    cursor: pointer;
}
button.settings i{
    font-size: 16px;
    padding-left: 10px;
}
.settingspopup.show{
    display: flex;
}
.settingspopup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    font-family: '8bit', Arial, Helvetica, sans-serif;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.settingspopup h2{
    font-size: 24px;
    padding-top: 100px;
}
.settingspopup button{
    width: auto;
    padding: 10px;
    margin-top: 100px;
    border: 2px solid #000;
    font-family: '8bit', Arial, Helvetica, sans-serif;
}
.settingspopup button:hover{
    cursor: pointer;
}
.settingspopup button.on{
    background-color: #0f0;
}
.settingspopup button.off{
    background-color: #f00;
}
.settingspopup button i{
    font-size: 20px;
    padding-left: 10px;
}